body {

	padding: 5px;
	font-family: Tahoma, sans-serif;
    //background-image: url(images/body-background.jpg);
    color: floralwhite;
    font-size: 1.5em;
    width:80%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}



.banner {
	width: 80%;
	height: 120px;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.top-nav-bar {
	width: 90%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    float: right; 
}

a {
    color: dimgray;
    text-decoration: none;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: dimgrey;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


.body-content-guest {
	width: 80%;
	//border: 3px solid #cccccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: arial calibiri;
    font-size: 1.5em;
    text-align: center;
}

img {
    
    width: 150px;
    height: 150px;
}

#image-center {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.body-content-guest > p {
    background-color: darkslategray;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 10px;
}

.achievements {
    background-color: white;
    font-size: 0.8em;
    color: slategray;
    
}

.achievement {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-style: double;
    border-radius: 10px;
    border-color: burlywood;
    height: auto;
}

.model-page {
    color: darkgray;
}

.login-button {
    margin-right: auto;
    margin-left: auto;
}

.model-form{
    display: table;
    height: 150px;
    width: 100%;
}

.row{
    display: table-row;
}

.row input{
    display: table-cell;
    margin-right: 27px;
    width: 45%;
    border-radius: 4px;
    margin-top: 5px;
}

.bigger-control{
    
    width: 95% !important;
}

.validationError {
    color: darksalmon;
}