
    <div class="modal-header">
            <h3 class="modal-title">Enter Login Details</h3>
        <a ng-href="" class="menu" ng-click="openSignupModel()">First time!! Register to create an account</a>
        </div>
        <div class="modal-body">
            <label>User Name</label>
            <input type="text" id="userName" />
            <label>Password</label>
            <input type="password" id="password" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary login-button" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-primary login-button" type="button" ng-click="cancel()">Cancel</button>
        </div>
