<div ng-controller="ModalDemoCtrl">
    <div class="top-nav-bar">
        <a ng-href="" class="menu" ng-click="openLogin()">Login</a>
        <a ng-href="" class="menu" ng-click="openSignup()">Signup</a>
    </div>
<div class="body-content-guest">
    <img src="../images/two-thumbs-up-hi.png" id="image-center"/>
    <p>
        Top achievements And Happy news        
    </p>
</div>
    <hr>
    <div class="achievements">
        <p class="achievement">This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.</p>
    
        <p class="achievement">This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.This is my achievement.</p>
    </div>
</div>