
<div class="modal-header">
            <h3 class="modal-title">Register Urself Friend!!</h3>
            <a ng-href="" class="menu" ng-click="openLoginModel()">Login to Existing Account</a>
</div>
<form name="userForm" novalidate>
    <div class="modal-body model-form">

        <div class="row">
            <div class="table-cell">
            <input type="text" id="name" name="firstName" ng-model="firstName" placeholder="First Name" class="form-input" required />
            <div ng-messages="userForm.firstName.$error" ng-if="userForm.firstName.$touched">
                <p ng-message="required" class="validationError">First Name is required.</p>
            </div>
            </div>
            <div class="table-cell">
            <input type="text" id="lname" name="lastName" ng-model="lastName" placeholder="Last Name" class="form-input"/>
        </div>
        </div>

        <div class="row">
            <div class="table-cell">
            <input type="email" id="email" name="email" ng-model="email" placeholder="Email Address" class="form-input" required />
            <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                <p ng-message="required" class="validationError">Email is required.</p>
            </div>
            </div>
        </div>

        <div class="row">
            <div class="table-cell">
            <input type="password" id="password" name="password" ng-model="password" class="form-input" placeholder="Password" required />
            <div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
                <p ng-message="required" class="validationError">Password must be filled</p>
            </div>
                </div>
        <div class="table-cell">
            <input type="password" id="password1" name="password1" ng-model="password1" class="form-input" placeholder="Re-Enter Password" required />

            <div ng-messages="userForm.password1.$error" ng-if="userForm.password1.$touched">
                <p ng-message="required" class="validationError">Re-Enter Password must be filled</p>
            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary login-button" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-primary login-button" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
